.template-pd-help-page {
	color: #101418;
	border: solid 1px #a2a9b1;
	padding: .5em;
	margin: .5em 0;
	background-color: #fff;
	font-size: 95%;
	vertical-align: middle;
	width: 100%;
	box-sizing: border-box;
}
.template-pd-help-page .icon-cell {
	padding: 0 1em;
	width: 30px;
}
