.nmbox {
	background: #f8f9fa;
	border: 1px solid #a2a9b1;
	box-sizing: border-box;
	margin: 2px 0;
	padding: 0;
}
.nmbox * {
	box-sizing: border-box;
}
.nmbox-header {
	background: #eaecf0;
	padding: 4px .5em;
	font-weight: bold;
	text-align: center;
	white-space: nowrap;
}
.nmbox .mbox-image {
	display: inline-block;
	padding-right: 1em;
}
.nmbox-text {
	border-top: 1px solid #a2a9b1;
	padding: 4px .5em;
}
@media screen and (min-width: 768px) {
	.nmbox-header {
		display: table-cell;
		border-right: 1px solid #a2a9b1;
	}
	.nmbox-text {
		border-top: none;
		display: table-cell;
	}
}
